@import "tailwindcss";
@import "tw-animate-css";

/* Global custom properties for theming */
@theme {
  /* Colors */
  --color-primary-100: #FFE8F0;
  --color-primary: #EE2B69;

  --color-secondary: #FBE843;

  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7D8087;
  --color-black: #000000;

  --color-white-100: #F7F7F7;
  --color-white: #FFFFFF;

  /* Border Radius */
  --radius: 0.5rem; /* Your base radius value */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  /* Box Shadows */
  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);

  /* Screens */
  --breakpoint-xs: 475px;
}


/* ==============================
JSM Code Below
==================================*/

/* Basics */
.flex-between {
  @apply flex justify-between items-center;
}

.text-30-extrabold {
  @apply text-[30px] font-extrabold text-white;
}

.text-30-bold {
  @apply text-[30px] font-bold text-black;
}

.text-30-semibold {
  @apply font-semibold text-[30px] text-black;
}

.text-26-semibold {
  @apply font-semibold text-[26px] text-black;
}

.text-24-black {
  @apply text-[24px] font-black text-black;
}

.text-20-medium {
  @apply font-medium text-[20px] text-black;
}

.text-16-medium {
  @apply font-medium text-[16px] text-black;
}

.text-14-normal {
  @apply font-normal text-sm text-white-100/80;
}


/* Header */

.heading{
  @apply uppercase bg-black px-6 py-3 font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
}

.sub-heading {
  @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
}

.section_container {
  @apply px-6 py-10 max-w-7xl mx-auto;
}

.card_grid {
  @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
}

.card_grid-sm {
  @apply grid sm:grid-cols-2 gap-5;
}

.no-result {
  @apply text-black-100 text-sm font-normal;
}



/* HOME PAGE */
.pattern {
  background-image: linear-gradient(
          to right,
          transparent 49.5%,
          rgba(251, 232, 67, 0.2) 49.5%,
          rgba(251, 232, 67, 0.6) 50.5%,
          transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

.pink_container {
  @apply w-full bg-primary min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
}



/* SEARCH */
.search-form {
  @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
}

.search-btn {
  @apply size-[50px] rounded-full bg-black flex justify-center items-center;
}

.search-input {
  @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
}



/* Startup Cards */
.section_container {
  @apply px-6 py-10 max-w-7xl mx-auto;
}




/* Startup Cards */
.startup-card {
  @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
}

.startup-card_date {
  @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
}

.startup-card_desc {
  @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
}

.startup-card_img {
  @apply w-full h-[164px] rounded-[10px] object-cover;
}

.startup-card_btn {
  @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3;
}

.startup-card_skeleton {
  @apply w-full h-96 rounded-[22px] bg-zinc-400;
}